/*=========== GOOGLE FONTS===================*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
/*=============VARIABLES CSS===============*/

:root {
    --header-height: 6rem;

    /*=========Colors===============*/
    /*Color mode HSL(hue, saturation, lightness) */

    --first-color: hsl(350,98%,64%);
    --title-color: hsl(0,0%,100%);
    --text-color: hsl(0,0%,77%);
    --body-color: ;
    --container-color: ;
    --border-color: ;

    /*========Font and typography=====*/
    /*.5rem= 8px | 1rem = 16px ...*/

    --body-font: "Montserrat", serif;
    --second-font:"Poppins", serif;


    --big-font-size: 4.5rem;
    --h1-font-size: 3.75rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.5rem;
    --normal-font-size:1.125rem;
    --small-font-size: 1rem;
    --smaller-font-size:0.875rem;

   /*=========Font weight===========*/
 
   --weight-300: 300;
   --weight-400: 400;
   --weight-500: 500;
   --weight-600: 600;
   --weight-700: 700;
   --weight-900: 900;

   /*==========Transition=========*/

   --transition: cubic-bezier(0.05, 0.2, 0.1, 1);

   /*==========

}